/*! main.css */

body{
  background: #181818;
}

body > .errorify {
  color: red;
  font-family: 'Consolas', monospace;
  padding: 5px 10px;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}